
*, * ::before, * ::after {
    box-sizing: border-box;
}

header {
    font-family: monospace;
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
}

body {
    font-family: monospace;
    font-size: 15px;
    
}

#new-text-file {
    margin-top: 2px;
    border: solid 2px;
    border-color: red;
}
.container {
    border: 5px solid black;
    width: 800px;
    height: 810px;
    margin: 50px auto;
    position: relative;
}

.box {
    width: 200px;
    height: 200px;

}

.blue {
    background-color: blue;
    position : sticky;
    top: 20px;
    z-index: 4;


}

.purple {
    background-color: blueviolet;
    position: sticky;
    z-index: 3;

    

}

.red {
    background-color: red;
    z-index: 2;

}

.green {
    background-color: green;
    position: sticky;
    bottom: 20px;
    z-index: 1;

}

.purple:hover {
    background-color: rgb(167, 142, 190);
}

.blue:hover {
    background-color: rgb(177, 177, 234);
}

.red:hover {
    background-color: rgb(239, 168, 168);
}

.green:hover {
    background-color: rgb(150, 233, 150);
}
.bold{
    font-weight: bolder;
}