
*, * ::before, * ::after {
    box-sizing: border-box;
}

header {
    font-family: monospace;
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
}

body {
    font-family: monospace;
    font-size: 15px;
    
}

#new-text-file {
    margin-top: 2px;
    border: solid 2px;
    border-color: red;
}
#box1 {
    width: 800px;
    height: 800px;
    border: solid 4px red;
    position: relative;
}
#box2 {
    

    width: 400px;
    height: 400px;
    background-color: blue;
}
#box3 {
    position: sticky;
    top: 50px; ;
    width: 200px;
    height: 200px;
    background-color:  purple;
}
#box4 {
    width: 100px;
    height: 100px;
    background-color:  greenyellow;
}
.bold{
    font-weight: bolder;
}